<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>benly</title>
</head>

<body>

    <div class="container lg-3 md-6 xs-12">
        <div class="row">
            <div class="col">
                <h2>Click the button</h2>
                <button title="button" type="submit" class="btn btn-danger w-25" (click)="onSubmit()">
                    <div class="text">
                        <h5>Testing Next BenLY</h5>
                    </div>
                </button>
            </div>
        </div>
    </div>

</body>

</html>