<header>
    <nav class="navbar bg">
     <div class="container">
        <!-- Nav-bar -->
      <a class="navbar-brand" href="#">
        <img title="Space-X Logo" src="../assets/preview-xl.png" alt="space image" width="270" height="145" > 
        <!-- icon lnk -->
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </a>  
      <ul class="nav justify-content-center">
        <li class="nav-item ms-5">
            <h6 class="font-2">
                <p>Space-X Web Privacy Policy and Important Notices</p>
            </h6>
        </li>
        <!-- icon -->
        <li class="nav-item-5">
            <i title="home Page" routerLink="/home" style="font-size:40px" class="fa">&#xf015;</i>
          </li>
      </ul>
     </div>
    </nav>
</header>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="title mt-5">About Space-X</h4>
            </div>
        </div>
        <div class="col">

            <h2 class="heading">
                <p>Space-X Web Privacy Policy and Important Notices</p>
            </h2>
                <p>Thank you for visiting Space-X and reviewing our policy notices. We have integrated these statements into a single posting for ease of use.
                     The following links will help you navigate to a specific section:</p>
            <h2 class="heading">
                <p>Privacy Policy</p>
            </h2>
                <p>This notice provides space-x's policy regarding the nature, purpose, use and sharing of any information collected via this Web site. 
                    The information you provide on a space-x Web site will be used only for its intended purpose. We will protect your information consistent with the principles of the Privacy Act, 
                    the e-Government act of 2002, the Federal Records Act, and as applicable, the Freedom of Information Act.</p>
                <p>Submitting information is strictly voluntary. By doing so, you are giving space-x your permission to use the information for the intended purpose. 
                    If you do not want to give space-x permission to use your information, simply do not provide it. However, not providing certain information may result in space-x's 
                    inability to provide you with the information or services you desire.</p>  
                <p>There are several types of information we collect. These include:</p>
                <p>1 <a class="link"> Automatically Collected Information</a></p> 
                <p>2 <a class="link"> Information Collected for Tracking and Customization</a></p>  
                <p>3 <a class="link"> Personal Information</a></p>  
                <p>4 <a class="link"> Information from Children</a></p>
                <p>Space-X will only share your information with another government agency if it relates to that agency, or as otherwise required by law. 
                    We may share information with private organizations as part of a service that provides Space-X.gov users with increased capabilities or functionality on the site. 
                    Space-X never creates individual profiles.</p>   
            <h2 class="heading">
                <p>Automatically Collected Information</p>
            </h2>
                <p>A cookie is a small file that a Web site transfers to your computer to allow it to remember specific information about your session while you are connected. 
                    Your computer will only share the information in the cookie with the Web site that provided it, and no other Web site can request it. 
                    There are two types of cookies, session and persistent. Session cookies last only as long as your Web browser is open. Once you close your browser,
                     the cookie disappears. Persistent cookies store information on your computer for longer periods of time.</p>   
                <p>Space-X Web sites may use session cookies for technical purposes such as to enable better navigation through the site, or to allow you to customize your
                     preferences for interacting with the site. A few Space-X Web sites may also make use of persistent cookies to remember you between visits so, for example,
                      you can save your customized preference settings for future visits. Each Space-X site using persistent cookies identifies itself as doing so.
                       If you do not wish to have session or persistent cookies stored on your machine, you can turn them off in your browser. However,
                        this may affect the functioning of some Space-X Web sites.</p>          
            <h2 class="heading">
                <p>Web Site Security Notice</p>
            </h2>        
                 <p>For site security purposes and to ensure that this Web service remains available to all users, this Government computer system employs software programs 
                    that monitor network traffic to identify unauthorized attempts to upload or change information,. Anyone using this system expressly consents to such monitoring
                     and is advised that if such monitoring reveals evidence of possible abuse or criminal activity, such evidence may be provided to appropriate law enforcement
                      officials. <br><br>Unauthorized attempts to upload or change information on Space-X servers are strictly prohibited and may be punishable by law, including under the
                       Computer Fraud and Abuse Act of 1986 and the National Information Infrastructure Protection Act of 1996.<br>Additionally, Space-X information systems may be
                        protected by EINSTEIN cybersecurity capabilities under the operational control of the U.S. Department of Homeland Security United States Computer Emergency 
                        Readiness Team (US-CERT). Electronic communications with Space-X may be scanned by government-owned or contractor equipment to look for network traffic
                         indicating known or suspected malicious cyber activity, including malicious content or communications<br><br>Electronic communications within Space-X will be 
                         collected or retained by US-CERT only if they are associated with known or suspected cyber threats. US-CERT will use the information collected through 
                         EINSTEIN to analyze the known or suspected cyber threat and help Space-X and other agencies respond and better protect their computers and networks.</p>
                 
                         
               <h6>space-x Officials for Privacy Related Matters</h6>
               <h6>space-x Senior Agency Official for Privacy (SAOP)</h6>
               <p>Jeff Seaton <br>Chief Information Officer</p>
               <h6>space-x Chief Privacy Officer (CPO) </h6>
               <p>space-x Office of the Chief Information Officer<br>
                space-x Headquarters<br>
                Washington, DC 20546-0001<br>
                256-544-7705</p>
                <h6>space-x Agency Privacy Act Officer</h6>
                <p>Corey Portalatin-Berrien (Acting)<br>
                    space-x Office of the Chief Information Officer<br>
                    space-x Headquarters,<br>
                    Washington, DC 20546-0001<br>
                    757-864-2700</p>
                    
        </div>
        <div class="col ms-4 mt-4">
            <p class="s-2">© 2023, SpaceX Corporation Pvt. Ltd. All Rights Reserved.</p>
            <!-- earth-icon -->
            <p><i style="font-size:19px;color: rgb(28, 94, 180);" class="fa">&#xf0ac;</i> English</p>
        </div>
    </div>
</body>