<nav class="navbar bg-black">
    <!-- nav-bar -->
    <div class="container-fluid">
        <!-- image field -->
        <a title="Space-X Logo" class="me-5 navbar-brand"><img src="../assets/preview-xl.png" alt="Responsive images " width="250"></a>
        <!-- icon link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- nav items -->
        <ul class="nav justify-content-center">
            <li class="nav-item ms-4">
                <h6 class="font-2">
                    <p>KID'S SHIRTS</p>
                </h6>
            </li>

            <li class="nav-item ms-3 bg">
                <h6>
                    <p>ACCOUNT</p>
                </h6>
            </li>
            <li class="nav-item ms-3 bg">
                <h6>
                    <p><i style="font-size:15px" class="fa fa-search"></i> SEARCH</p>
                </h6>
            </li>
            <li class="nav-item ms-3">
                <h6>
                    <p>CART(0)</p>
                </h6>
            </li>
        </ul>
    </div>
  </nav>

<main>
    <!-- center tag -->
    <em>
        <h6 class="text-center mt-5 ">KID'S SPACEX T-SHIRT'S</h6>
    </em>
    <div class="container">
        <div class="row" id="itemList">
            <div class="col-3 mt-3"> 
                <!-- row-1 image-1 -->
                <img src="https://cdn.shopify.com/s/files/1/0261/2615/5855/products/KIDS-11-SPACEDUIT-ONESIE-INFANT-ONESIE-WHITE-GREY-FRONT_600x.png?v=1631644234" width="400" class="start">
                <h6 class="text-center mt-3 me-3 one">
                    <a class="text">KID'S SPACEX SPACESUIT ONESIE</a>
                    <p class="bill">$45.00</p>
                </h6>
            </div>
            <div class="col-3 mt-3">
                 <!-- row-1 image-2 -->
                <img src="https://cdn.shopify.com/s/files/1/0261/2615/5855/products/KIDS-10-ONESIE-BLACK-FRONT_600x.png?v=1631644560" width="400" class="middle">
                <h6 class="text-center mt-3 me-3 two">
                    <a class="text">SPACEX ONESIE</a>
                    <p class="bill">$20.00</p>
                </h6>
            </div>
            <div class="col-3 mt-3">
                 <!-- row-1 image-3 -->
                <img src="https://cdn.shopify.com/s/files/1/0261/2615/5855/products/KIDS-4-F9-T-SHIRT-BLACK-BACK_600x.png?v=1631676474" width="400" class="middle_end">
                <h6 class="text-center mt-3 me-3 three">
                    <a class="text">KID'S F9 T-SHIRT</a>
                    <p class="bill">$20.00</p>
                </h6>
            </div>
            <div class="col-3 mt-3">
                <!-- row-1 image-4 -->
                <img src="https://cdn.shopify.com/s/files/1/0261/2615/5855/products/KIDS-6-FALCON-1-T-SHIRT-CHARCOAL-BACK_600x.png?v=1631676603" width="400" class="end">
                <h6 class="text-center mt-3 me-3 four">
                    <a class="text">KID'S FALCON 1 T-SHIRT</a>
                    <p class="bill">$20.00</p>
                </h6>
            </div>
          </div>
          <div class="row" id="itemList">
            <div class="col-3 mt-3">
                <!-- row-2 image-1 -->
                <img src="https://cdn.shopify.com/s/files/1/0261/2615/5855/products/KIDS-22-STARMAN-T-SHIRT-BLACK-FRONT_600x.png?v=1631677034" width="400" class="start">
                <h6 class="text-center mt-3 me-3 one">
                    <a class="text">KID'S STARMAN T-SHIRT</a>
                    <p class="bill">$20.00</p>
                </h6>
            </div>
          </div>
           <!-- end tag -->
       <div class="col text-center">
        <p class="s-2">© 2023, SpaceX Corporation Pvt. Ltd. All Rights Reserved.</p>
        <!-- earth-icon -->
        <p><i style="font-size:20px;color: rgb(8, 108, 240);" class="fa fa-globe"></i> English</p>
      </div>

    </div>
</main>