<body>
  <div class="container">
    <a class="navbar-brand" href="#">
      <!-- image field -->
      <img title="Space-X Logo" src="../assets/preview-xl.png" alt="space image" width="270" height="145" > 
      
      <!-- icon link -->
      <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </a>
    
    <ul class="nav justify-content-center">
      <li class="nav-item-5">
        <i title="home Page" routerLink="/home" style="font-size:40px" class="fa">&#xf015;</i>
      </li>
    </ul>
    <div class="image">
      <img title="Live Earth" src="../assets/Group 1.png" alt="space image" width="420" height="80" > 
    </div>
    <div class="row">
      <div class="col">
        <h1>Earth Views From the</h1>
      </div>
      <div class="row">
        <div class="col" >
          <h1>Space Station</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text">
         <!-- live image -->
        <a href="https://earth.google.com/web/@8.13401497,77.62512256,345.14770681a,1368585.60621142d,35y,0.42022607h,0t,0r">Click here</a>
      </div>
    </div>
      
  </div>
</body>
