<body>
  <nav class="navbar bg-black">
    <div class="container">
      <a class="navbar-brand" href="#">
        <!-- image field -->
        <img title="Space-X Logo" src="../assets/preview-xl.png" alt="Responsive images " width="250">
      </a>
      <!-- navbar design filed -->
      <ul class="navbar-nav ms-auto me-5 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <!-- icon pack link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <li class="nav-item me-3">
          <!-- home Icon -->
          <i title="home Page" routerLink="/home" style="font-size:35px" class="fa">&#xf015;</i>
        </li>
      </ul>

    </div>
  </nav>
  <div class="container bg">
    <div class="row">
      <div class="col-2">
        <h6 title="Images of Space-X">Space-X image of the day</h6>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <img src="../assets/gallerie1.png" alt="Responsive images" width="400" class="start">
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <img src="../assets/gallerie2.png" alt="Responsive images" width="400" class="middle">
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <img src="../assets/gallerie3.png" alt="Responsive images" width="400" class="end">
      </div>
  </div>
  <!-- 2nd row images -->
    <div class="row mt-5">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <img src="../assets/gallerie4.png" alt="Responsive images" width="400" class="start">
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <img src="../assets/gallerie5.png" alt="Responsive images" width="400" class="middle">
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <img src="../assets/gallerie6.png" alt="Responsive images" width="400" class="end">
      </div>
    </div>
  </div>
</body>

