<body>
  <!-- Nav-bar -->
  <nav class="navbar bg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <!-- Logo-field -->
        <a title="Space-X Logo" class="me-5 mb-5 navbar-brand" href="#"><img src="../assets/preview-xl.png"
          alt="Responsive images " width="250"></a>
          <!-- Icon-pack -->
          <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </a>
      <!-- text-center -->
      <div class="center">
        <h2 title="Title">Welcome to Space-X</h2>
      </div>
      <!-- Nav-icon pack -->
      <ul class="navbar-nav ms-auto me-5 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
       <!-- home-icon pack -->
        <li class="nav-item me-3">
          <i title="home Page" routerLink="/home" style="font-size:35px" class="fa">&#xf015;</i>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-con">
    <!-- text-center -->
    <h4 class="text-center">About Artemis I</h4>
    <!-- text-heading -->
    <h3 class="heading">About the Mission</h3>
    <!-- text-content -->
    <h6 class="content"><p>Artemis I is the first in a series of increasingly complex missions that will enable human exploration to the Moon
      and Mars.</p>
    <p>All eyes will be on the historic Launch Complex 39B when the Orion spacecraft and the Space Launch System (SLS)
      rocket lift off for the first time from NASA's modernized Kennedy Space Center in Florida.
  
      Artemis I will be the first in a series of increasingly complex missions to build a long-term human presence at the
      Moon for decades to come.
  
      The primary goals for Artemis I are to demonstrate Orion’s systems in a spaceflight environment and ensure a safe
      re-entry, descent, splashdown, and recovery prior to the first flight with crew on Artemis II.</p></h6>
  </div>

  <div class="container">
    <!-- text-center -->
    <div class="text-center">
      <h2>"This is bigger than the moon landing." "One giant step for man-on-mankind."</h2>
    </div>
    <div class="row">
      <!-- 1st-video -->
      <div class="col-6 text-center embed-responsive embed-responsive-16by9">
        <iframe width="600" height="280" src="https://www.youtube.com/embed/CMLD0Lp0JBg">
        </iframe>
      </div>
      <!-- 2nd-video -->
      <div class="col-6 text-center embed-responsive embed-responsive-16by9">
        <iframe width="600" height="280" src="https://www.youtube.com/embed/lJjDYBWMCAA">
        </iframe>
      </div>
      <!-- 2nd-Row-1st video -->
      <div class="col-4 text-center embed-responsive embed-responsive-16by9"> 
        <iframe width="380" height="230" src="https://www.youtube.com/embed/kZ20H8sHo9w">
        </iframe>        
      </div>
      	 <!-- 2nd-Row-2st video -->
      <div class="col-4 text-center embed-responsive embed-responsive-16by9">
        <iframe width="380" height="230" src="https://www.youtube.com/embed/6ghTUwwgZPE">
        </iframe>
      </div>
       <!-- 2nd-Row-3st video -->
      <div class="col-4 text-center embed-responsive embed-responsive-16by9">
        <iframe width="380" height="230" src="https://www.youtube.com/embed/sX1Y2JMK6g8">
        </iframe>
      </div>
       <!-- 3nd-Row-1st video -->
      <div class="col-4 text-center embed-responsive embed-responsive-16by9">
        <iframe width="380" height="230" src="https://www.youtube.com/embed/4LMwKwcMdIg">
        </iframe>
      </div>
       <!-- 3nd-Row-2st video -->
      <div class="col-4 text-center embed-responsive embed-responsive-16by9">
        <iframe width="380" height="230" src="https://www.youtube.com/embed/ODY6JWzS8WU">
        </iframe>
      </div>
       <!-- 3nd-Row-3st video -->
      <div class="col-4 text-center embed-responsive embed-responsive-16by9">
        <iframe width="380" height="230" src="https://www.youtube.com/embed/ap-BkkrRg-o">
        </iframe>
      </div>
    </div>
  </div> 
            <!-- end tag and end icon #earth -->
    <div class="col">
      <p class="s-2">© 2023, SpaceX Corporation Pvt. Ltd. All Rights Reserved.</p>
      <p><i style="font-size:19px;color: rgb(8, 108, 240);" class="fa">&#xf0ac;</i> English</p>
    </div>
  
</body>

