<nav class="navbar bg-black"> 
    <!-- nav-bar -->
    <div class="container-fluid">
        <!-- image field -->
        <a title="Space-X Logo" class="me-5 navbar-brand"><img src="../assets/preview-xl.png" alt="Responsive images " width="250"></a>
        <!-- icon link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- nav items -->
        <ul class="nav justify-content-center">
            <li class="nav-item ms-4">
                <h6 class="font-2">
                    <p>PREMIUM</p>
                </h6>
            </li>

            <li class="nav-item ms-3 bg">
                <h6>
                    <p>ACCOUNT</p>
                </h6>
            </li>
            <li class="nav-item ms-3 bg">
                <h6>
                    <p><i style="font-size:14px" class="fa">&#xf002;</i> SEARCH</p>
                </h6>
            </li>
            <li class="nav-item ms-3">
                <h6>
                    <p>CART(0)</p>
                </h6>
            </li>
        </ul>
    </div>
  </nav>

<main>
    <!-- center tag -->
    <em>
        <h6 class="text-center mt-5 ">SPACE-X PREMIUM</h6>
    </em>
   <div class="container">
      <div class="row" id="itemList">
        <div class="col-3 mt-3">
            <!-- row-1 image-1 -->
            <img src="https://cdn.shopify.com/s/files/1/0261/2615/5855/products/METAL_PHOTO_PRINT_FRONT_600x.png?v=1657137891" width="400" class="start">
            <h6 class="text-center mt-3 me-3 one">
                <a class="text">SPACEX STARSHIP STACK METAL ART</a>
                <p class="bill">$499.00</p>
            </h6>    
        </div>
      </div>
      <!-- end tag -->
      <div class="col text-center title">
        <p class="s-2">© 2023, SpaceX Corporation Pvt. Ltd. All Rights Reserved.</p>
        <!-- earth-icon -->
        <p><i style="font-size:19px;color: rgb(8, 108, 240);" class="fa">&#xf0ac;</i> English</p>
      </div>
    </div>
</main>