<main>
  <header>
    <nav class="navbar navbar-expand-lg bg ">
      <!-- container -->
      <div class="container-fluid">
        <!-- image field -->
        <a title="Space-X Logo" class="ms-5 navbar-brand" href="#"><img src="../assets/preview-xl.png"
                                                                        alt="Responsive images " width="250"></a>
        <!-- Icon pack -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- nav bar design -->
        <ul class="navbar-nav ms-auto me-5 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <!-- dropdown-1 -->
          <div class="dropdown">
            <li class="nav-item me-4">
              <h6 class="dropdown-toggle" type="button" data-toggle="dropdown"><i style='font-size:18px' class="fa fa-male" aria-hidden="true"></i> MENS</h6>
              <ul class="dropdown-menu">
                <!--  target="_blank" command will opens in new tab --> 
                <li><a class="dropdown-item" routerLink="/mens" target="_blank"><i style='font-size:18px' class='fas'>&#xf553;</i> Shirts</a></li>
                <li><a class="dropdown-item" routerLink="/mens" target="_blank"><i style='font-size:18px' class='fas'>&#xf7b5;</i> Outer Wear</a></li>
                <li><a class="dropdown-item" routerLink="/mens" target="_blank"><i style="font-size:18px" class="fa">&#xf06e;</i> View All</a></li>
              </ul>
            </li>
          </div>
          <!-- dropdown-2 -->
          <div class="dropdown">
            <li class="nav-item me-4">
              <h6 class="dropdown-toggle" type="button" data-toggle="dropdown"><i style='font-size:18px' class="fa fa-female"></i> WOMENS</h6>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/womens" target="_blank"><i style='font-size:18px' class='fas'>&#xf553;</i> Shirts</a></li>
                <li><a class="dropdown-item" routerLink="/womens" target="_blank"><i style='font-size:18px' class='fas'>&#xf7b5;</i> Outer Wear</a></li>
                <li><a class="dropdown-item" routerLink="/womens" target="_blank"><i style="font-size:18px" class="fa">&#xf06e;</i> View All</a></li>
              </ul>
            </li>
          </div>
          <!-- dropdown-3 -->
          <div class="dropdown">
            <li class="nav-item me-4">
              <h6 class="dropdown-toggle" type="button" data-toggle="dropdown"><i style="font-size:18px" class="fa">&#xf1ae;</i> KIDS</h6>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/kids" target="_blank"><i style='font-size:18px' class='fas'>&#xf553;</i> Shirts</a></li>
                <li><a class="dropdown-item" routerLink="/kids" target="_blank"><i style='font-size:18px' class='fas'>&#xf7b5;</i> Outer Wear</a></li>
                <li><a class="dropdown-item" routerLink="/kids" target="_blank"><i style="font-size:18px" class="fa">&#xf06e;</i> View All</a></li>
              </ul>
            </li>
          </div>
          <!-- dropdown-4 -->
          <div class="dropdown">
            <li class="nav-item me-4">
              <h6 class="dropdown-toggle" type="button" data-toggle="dropdown"><i style='font-size:18px' class='fas'>&#xf06b;</i> ACCESSORIES</h6>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/accessories" target="_blank"><i style="font-size:18px" class="fa">&#xf06e;</i> View All</a></li>
              </ul>
            </li>
          </div>
          <!-- dropdown-5 -->
          <div class="dropdown">
            <li class="nav-item me-4">
              <h6 class="dropdown-toggle" type="button" data-toggle="dropdown"><i style='font-size:18px' class='far'>&#xf3a5;</i> PREMIUM</h6>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/premium" target="_blank"><i style="font-size:18px" class="fa">&#xf06e;</i> View All</a></li>
              </ul>
            </li>
          </div>
          <li class="nav-item me-4 bg">
            <a><h6><i style='font-size:18px' class="fa fa-user"></i> ACCOUNT</h6></a>
          </li>
          <li class="nav-item me-4 bg">
            <h6>
              <p><i style="font-size:15px" class="fa">&#xf002;</i> SEARCH</p>
            </h6>
          </li>
          <li class="nav-item me-4">
            <h6>
              <p><i style="font-size:18px" class="fa">&#xf07a;</i> CART (1)</p>
            </h6>
          </li>
          <!-- Home icon -->
          <li class="nav-item me-3">
            <i title="home Page" routerLink="/home" style="font-size:35px" class="fa fa-home"></i>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <!-- text-center -->
    <div class="row">
      <div class="col"><h4>DUE TO CONSTRAINTS FROM OUR CARRIERS BECAUSE OF CURRENT EVENTS, SHIPMENTS MAY BE DELAYED</h4>
      </div>
    </div>
    <!-- end-tag -->
    <div class="col center">
      <p>© SPACE-X STORE</p>
    </div>
  </div>
</main>
