<header>
    <nav class="navbar navbar-expand-lg ">

        <div class="container-fluid">
          <!-- image field -->
          <a title="Space-X Logo" class="ms-5 navbar-brand" href="#"><img src="../assets/preview-xl.jpg" alt="Responsive images " width="250" ></a>
          <!-- icon pack link -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <!-- nav-icon -->
            <ul class="navbar-nav ms-auto me-5 my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <!-- nav items -->
              <!-- Shop component -->
              <li class="nav-item me-4">
                <h6>
                  <P title="Welcome to shop" routerLink="/shop">Shop</P>
                </h6>
              </li>
               <!-- Galleries component -->
              <li class="nav-item me-4">
                <h6>
                  <p title="Space-X images" routerLink="/galleries">Galleries</p>
                </h6>
              </li>
               <!-- Space-tv component -->
              <li class="nav-item me-4">
                <h6>
                  <p title="Space-X Tv" routerLink="/spacetv">Space Tv</p>
                </h6>
              </li>
               <!-- Mission component -->
              <li  class="nav-item me-4">
                <h6>
                  <p title="Our-Missions" routerLink="/missions">Missions</p>
                </h6>
              </li>
               <!-- Earth component -->
              <li class="nav-item me-4">
                <h6>
                  <p title="About-Earth" routerLink="/earth">Earth</p> 
                </h6>
              </li>
               <!-- About component -->
              <li class="nav-item me-4">
                <h6>
                 <p title="About-Space-X" routerLink="/about">About</p>
                </h6>
              </li>
               <!-- Login page component -->
              <li class="nav-item-1 me-4">
                <h6>
                  <p title="Login page" routerLink="/login">Sign in</p>
                </h6>
              </li>
               <!-- searcxh icon -->
              <li>
                <i style="font-size:18px ; color: rgb(21,154,255);" class="fa fa-search" routerLink="/testing"></i>
              </li>

            </ul>
        </div>
      </nav>
      <!-- Content-field -->
      <div class="container">
        <div class="row">
            <!-- Center-tag -->
            <h1>"CONGRATULATIONS, SPACE-X, YOU GOT THE FLAG."</h1>
            <!-- Center-tag 2nd -->
            <div class="row">
              <h5>“Imagination will often carry us to worlds that never were. But without it we go nowhere.”</h5>
            </div>
            <!-- Content -->
            <div class="col">
              <h6 class="center"><em>STARSHIP UPDATE</em></h6>
            </div>

          <div  class ="row bg ">
            <!-- Image -->
            <div class="col"> 
              <img title="“Artemis 8”" src="../assets/spacex.jpg" alt="Responsive images" width="550" class="img-fluid img-thumbnail rounded">
            </div>
            <!-- Content -->
            <div class="col">
              <h6 class="s-1">AUGUST 25, 2022</h6>
              <h5 class="s-1">SPACEX INVITES WORLD'S CARRIERS TO COLLABORATE — NO MORE CELL PHONE DEAD ZONES</h5>
              <p class="s-1">Despite powerful LTE and 5G terrestrial wireless networks, more than 20% of the United States land area and 90% of the Earth remain uncovered by wireless companies.
              These dead zones have serious consequences for remote communities and those who travel off the grid for work or leisure. The telecom industry has struggled to cover
              these areas with traditional cellular technology due to land-use restrictions (e.g. National Parks), terrain limits (e.g. mountains, deserts and other topographical realities)
              and the globe's sheer vastness. In those areas, people are either left disconnected or resort to lugging around a satellite phone and paying exorbitant rates.</p>
            </div>
          </div>
          <!-- end-tag -->
          <div class="col">
            <p class="s-2">© 2023, SpaceX Corporation Pvt. Ltd. All Rights Reserved.</p>
            <!-- earth-icon -->
            <p><i style="font-size:22px;color: rgb(8, 108, 240);" class="fa fa-globe"></i> English</p>
          </div>
        </div>
      </div>

</header>





