.nav-1{
    cursor: pointer;
    color: red;
}
.container {
    width: 600px;
    padding: 40px;
    position: relative;
    top: 150px;
    
}
.row{
    text-align: center;
}
.form-control{
    position: relative;
    margin-top: 10px;
    font-size: 15px;
}
.register{
    position: relative;
    background-color: rgb(240,72,62);
    color: rgb(245, 248, 242);
    cursor: pointer;
    top: 30px;
}
.register:hover{
    color: rgb(177, 175, 175);
}
.s-2{
    position: relative;
    left: 50px;
    margin-top: 200px;
}